@mixin background-gradient($start, $finish) {
  background: $start;
  background-image: -webkit-linear-gradient(top, $start, $finish);
  background-image: -moz-linear-gradient(top, $start, $finish);
  background-image: -ms-linear-gradient(top, $start, $finish);
  background-image: -o-linear-gradient(top, $start, $finish);
  background-image: linear-gradient(to bottom, $start, $finish);
}

.App {
  text-align: center;
  max-width: 940px;
  margin: 0 auto;
  padding-bottom: 50px;
  overflow: auto;
}
h1 {
  font-size: 3em;
  text-shadow: 4px 4px 2px #bbb;

}
.counter {
  font-size: 3em;
  text-shadow: 4px 4px 2px #bbb;
}
.control-btns {
  display: flex;
  margin-top: 0.625em;
}
.btn {
  flex: 1;
    @include background-gradient(#bd3333, #a83319);
  border-radius: 28px;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  padding: 6px 0;
  text-decoration: none;

}

.btn:hover {
  flex: 1.1;

  @include background-gradient(#fc3c3c, #f50c0c);
  text-decoration: none;
}

table {
  // height set in grid component
  width: 100%;
  background: #111;
  margin-top: 30px;

}

p {
  font-size: 1.2em;
  margin-top: 30px;
  text-align: left;
}
