.App {
  text-align: center;
  max-width: 940px;
  margin: 0 auto;
  padding-bottom: 50px;
  overflow: auto;
}
.counter {
  font-size: 3em;
}
.control-btns {
  display: flex;
  margin-top: 0.625em;
}
.btn {
  flex: 1;
  background: #b0a699;
  background-image: -webkit-linear-gradient(top, #b0a699, #807d79);
  background-image: -moz-linear-gradient(top, #b0a699, #807d79);
  background-image: -ms-linear-gradient(top, #b0a699, #807d79);
  background-image: -o-linear-gradient(top, #b0a699, #807d79);
  background-image: linear-gradient(to bottom, #b0a699, #807d79);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 1em;
  padding: 6px 0;
  text-decoration: none;

}

.btn:hover {
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #f50c0c);
  background-image: -moz-linear-gradient(top, #fc3c3c, #f50c0c);
  background-image: -ms-linear-gradient(top, #fc3c3c, #f50c0c);
  background-image: -o-linear-gradient(top, #fc3c3c, #f50c0c);
  background-image: linear-gradient(to bottom, #fc3c3c, #f50c0c);
  text-decoration: none;
}

table {
  // height set in grid component
  width: 100%;
  background: #111;
  margin-top: 30px;

}

p {
  font-size: 1.2em;
  margin-top: 30px;
  text-align: left;
}
a {

}
